@charset "UTF-8";

@import "common/layout.css";

/*-------------------------------------------------------------------------
	All
/*-----------------------------------------------------------------------*/


#selectTheme {

}

#selectTheme #btn {
	display: inline-block;
	padding: 2% 4%;
	border-radius: 3px;
	background-color: #e8e8e8;
}